body {
  --light-background-color: #EFF1F5;
  --dark-background-color: #363646AA;
  --curve: 4px;
  font-family: "SN Pro", "LXGW WenKai Screen" !important;
}
.cm-content {
  font-family: "SauceCodePro Nerd Font Mono";
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca0b07f;
  border-radius: 6px;
}

html[theme=light] body {
  --tabs-bg: #DBE0E7;
  --popover-background: #EFF1F5;
  --background-secondary: #E7E9EDAA;
  --global-background: #E7E9ED;
  --button-hover-background: #ccd0da;
  --border-background: #ccd0da;
  --select-color: #1e66f5;
  .css-1i0lu0l, .css-9tvygf, .css-bfqt20 {
    background: #209fb5;
    &:hover {
      background: #179299 !important;
    }
  }
}
html[theme=dark] body {
  --tabs-bg: #201F28;
  --popover-background: #363646FA;
  --background-secondary: #363646AA;
  --global-background: #363646;
  --button-hover-background: #201F28;
  --border-background: #72716990;
  --select-color: #E46876;
  --font-white: #F8F8F8DD;
  .css-1i0lu0l, .css-9tvygf, .css-bfqt20 {
    background: #E46876;
    &:hover {
      background: #E46876 !important;
    }
  }
  ::-webkit-scrollbar-thumb {
    background-color: #7271697f;
  }
}
.css-1p0w246 {
  font-size: .85rem !important;
}

.ParagraphBlock {
  border-radius: 4px;
}
.css-1u2f1h4{
  & > div > div > div > * {
    border-radius: 4px !important;
  }
}

/* 侧边栏 */
.w-full.p-3.overflow-y-auto.pb-10.h-full {
  background: var(--background-secondary);
}

.relative.h-full.sidebar-font + .relative.h-full{
  background: var(--background-secondary);
}
